<p *ngIf="archive">Archivio {{ archive.name }}</p>
<button mat-raised-button color="primary" type="button" aria-label="Apri in Explorer" data-balloon-pos="up">Apri</button>
<button mat-raised-button color="primary" type="button" aria-label="Aggiungi file da cartella" data-balloon-pos="up">Aggiungi file</button>
<button mat-raised-button color="primary" type="button" aria-label="Sposta archivio" data-balloon-pos="up">Sposta</button>
<button mat-raised-button color="primary" type="button" aria-label="Elimina archivio" data-balloon-pos="up">Elimina</button>
<button mat-raised-button color="primary" type="button" aria-label="Rinomina file" data-balloon-pos="up">Rinomina file</button>